<!-- Start Main -->
<!-- Start PRODUCT -->
<div class="product-text">
    SEARCH
</div>
<!-- partial:index.partial.html -->
<div class="searchProduct">
    <input type="text" id="nameProduct" placeholder="Write something" class="search__input" >
    <button type="button" class="search__button"  onclick="searchProduct()">Search</button>
  </div>
  <!-- partial -->
<div class="product-form container">
    <div class="row">
        



        <div class="cot-2 col-12">

            <div class="product-items d-flex flex-wrap" id="productlist-js">
                <!-- <div class="product-items-list mx-auto">
                        <a href="#" class="product-item">
                            <img src="/src/main/resources/static/image/Sectionals_Desktop.jpg" class="img-fluid" alt="">
                            <div class="text-left product_name">TEN DOANH MUC</div>
                            <div class="text-left product_price">$100-$200</div>
                        </a>
                    </div>
                    <div class="product-items-list mx-auto">
                        <a href="#" class="product-item">
                            <img src="/src/main/resources/static/image/Sectionals_Desktop.jpg" class="img-fluid" alt="">
                            <div class="text-left product_name">TEN DOANH MUC</div>
                            <div class="text-left product_price">$100-$200</div>
                        </a>
                    </div>
                    <div class="product-items-list mx-auto">
                        <a href="#" class="product-item">
                            <img src="/src/main/resources/static/image/Sectionals_Desktop.jpg" class="img-fluid" alt="">
                            <div class="text-left product_name">TEN DOANH MUC</div>
                            <div class="text-left product_price">$100-$200</div>
                        </a>
                    </div>
                    <div class="product-items-list mx-auto">
                        <a href="#" class="product-item">
                            <img src="/src/main/resources/static/image/Sectionals_Desktop.jpg" class="img-fluid" alt="">
                            <div class="text-left product_name">TEN DOANH MUC</div>
                            <div class="text-left product_price">$100-$200</div>
                        </a>
                    </div>
                    <div class="product-items-list mx-auto">
                        <a href="#" class="product-item">
                            <img src="/src/main/resources/static/image/Sectionals_Desktop.jpg" class="img-fluid" alt="">
                            <div class="text-left product_name">TEN DOANH MUC</div>
                            <div class="text-left product_price">$100-$200</div>
                        </a>
                    </div>
                    <div class="product-items-list mx-auto">
                        <a href="#" class="product-item">
                            <img src="/src/main/resources/static/image/Sectionals_Desktop.jpg" class="img-fluid" alt="">
                            <div class="text-left product_name">TEN DOANH MUC</div>
                            <div class="text-left product_price">$100-$200</div>
                        </a>
                    </div>
                    <div class="product-items-list mx-auto">
                        <a href="#" class="product-item">
                            <img src="/src/main/resources/static/image/Sectionals_Desktop.jpg" class="img-fluid" alt="">
                            <div class="text-left product_name">TEN DOANH MUC</div>
                            <div class="text-left product_price">$100-$200</div>
                        </a>
                    </div>
                    <div class="product-items-list mx-auto">
                        <a href="#" class="product-item">
                            <img src="/src/main/resources/static/image/Sectionals_Desktop.jpg" class="img-fluid" alt="">
                            <div class="text-left product_name">TEN DOANH MUC</div>
                            <div class="text-left product_price">$100-$200</div>
                        </a>
                    </div>
                    <div class="product-items-list mx-auto">
                        <a href="#" class="product-item">
                            <img src="/src/main/resources/static/image/Sectionals_Desktop.jpg" class="img-fluid" alt="">
                            <div class="text-left product_name">TEN DOANH MUC</div>
                            <div class="text-left product_price">$100-$200</div>
                        </a>
                    </div> -->
            </div>
            <div class="pagin pagin-product" aria-label="Page navigation example">

                <ul class="pagination paginationP">
                    <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- End PRODUCT -->
<!-- End Main -->

