<!-- Start main -->
    <!-- Start FORM-REGISTER -->
    <div class="login container d-flex flex-wrap justify-content-center" style="margin-top: 80px;">
        <div class="left-login">
            <div class="login-box">
                <h2>REGISTER</h2>
                <form>
                    <div class="user-box">
                        <input type="text" name="" required="">
                        <label>FullName</label>
                    </div>
                    <div class="user-box">
                        <input type="text" name="" required="">
                        <label>Username</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="" required="">
                        <label>Password</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="" required="">
                        <label>Password confirm</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="" required="">
                        <label>Phone</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="" required="">
                        <label>Email</label>
                    </div>
                    <!-- <div class="other-form">
                    <div class="row justify-content-between">
                        <div class="col-5">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Remember password
                            </label>
                        </div>
                        <div class="col-4 rmb-pass">
                            <a href="#">Forgot password?</a>
                        </div>
                    </div>
                </div> -->
                </form>
                <button type="button" class="btn1">SIGN UP</button>
            </div>
        </div>
        <div class="right-login-1">
            <div class="dang-ky">
                <img src="/image/Catalog_Desktop.jpg" alt="Snow" style="width:100%;">
                <div class="centered">
                    <div class="login-gg-lable-dk">IF YOU GOT AN ACCOUNT</div>
                    <a type="button" class="btn-dk-1 d-flex flex-wrap justify-content-center" href="/users/login">LOGIN NOW</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End FORM-REGISTER -->
    <!-- End main -->