<!-- Start FOOTER -->
<footer class="index_footer">
    FOOTER
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Về LUXHOUSE</h5>
                <!--headin5_amrc-->
                <p class="mb10">LUXHOUSE được thành lập vào năm 2022, khát vọng mang đến những sản phẩm có chất lượng tốt nhất đối với trãi nghiệm của khách hàng. Sự thành công của chúng tôi nhờ sự đánh giá và trãi nghiệm của khách hàng. Cam kết của chúng tôi mang đến những sản phẩm chính hãng và chất lượng nhất.</p>
                <p><i class="fa fa-location-arrow"></i> Công Viên Phần Mềm Quang Trung - Q12 </p>
                <p><i class="fa fa-phone"></i> +84 0000000000 </p>
                <p><i class="fa fa fa-envelope"></i> luxhouse@gmail.com </p>


            </div>


            


            


            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Chi Phí Giao Hàng</h5>
                <!--headin5_amrc ends here-->

                <ul class="footer_ul2_amrc">
                    <li><a href="#"> </a>
                        <p>Đối với sản phẩm được đặt từ nước ngoài thì phí giao hàng sẽ cao hơn do quá trình vận chuyển. Chi phí giao hàng ước tính từ $300~400.<a>
                                </a></p>
                    </li>
                    <li><a href="#"> </a>
                        <p><a
                                ></a></p>
                    </li>
                    <li><a href="#"> </a>
                        <p>Đối với sản phẩm có sẵn tại showroom thì phí giao hàng sẽ thấp hơn. Chi phí giao hàng ước tính từ $10~20.<a
                                ></a></p>
                    </li>
                </ul>
                <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>


    <div class="container">
        
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2022 | Designed With by <a href="https://github.com/huyletran007/luxhouse">Nhóm 10</a></p>

        <ul class="social_footer_ul">
            <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
            <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>
</footer>
<!-- End FOOTER -->