<!-- SCRIPT -->
<script src="/js/stick.js"></script>
<script src="/js/main.min.js"></script>
<script src="/js/simpleFetch.js"></script>
<script src="/js/product-detail.js"></script>
<script src="/js/Date.js"></script>
<script src="/js/base.js"></script>
<script src="/js/config.js"></script>
<script src="/js/cart/cart.js"></script>
<script src="/js/detail-cart.js"></script>
<script src="/js/order.js"></script>
<script src="/js/categories.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<!-- sweetalert2  -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
</script>

<script th:each="jsLink : ${content.jsList}" th:src="${jsLink}"></script>

<style>
	.active:after {
		content: '' !important;
	}

</style>

<script>
	function searchPDM(){
		window.location.href = "http://localhost:8080/products/search"
	}
</script>

<script>
	var citis = document.getElementById("city");
	var districts = document.getElementById("district");
	var wards = document.getElementById("ward");
	var Parameter = {
		url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
		method: "GET",
		responseType: "application/json",
	};
	var promise = axios(Parameter);
	promise.then(function (result) {
		renderCity(result.data);
	});

	function renderCity(data) {
		for (const x of data) {
			citis.options[citis.options.length] = new Option(x.Name, x.Id);
		}
		citis.onchange = function () {
			district.length = 1;
			ward.length = 1;
			if (this.value != "") {
				const result = data.filter(n => n.Id === this.value);

				for (const k of result[0].Districts) {
					district.options[district.options.length] = new Option(k.Name, k.Id);
				}
			}
		};
		district.onchange = function () {
			ward.length = 1;
			const dataCity = data.filter((n) => n.Id === citis.value);
			if (this.value != "") {
				const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

				for (const w of dataWards) {
					wards.options[wards.options.length] = new Option(w.Name, w.Id);
				}
			}
		};
	}
</script>
</body>

</html>