<!-- SCRIPT -->
<script src="/js/stick.js"></script>
<script src="/js/main.min.js"></script>
<script src="/js/simpleFetch.js"></script>
<script src="/js/product-detail.js"></script>
<script src="/js/base.js"></script>
<script src="/js/config.js"></script>
<script src="/js/cart/cart.js"></script>
<script src="/js/detail-cart.js"></script>
<script src="/js/order.js"></script>
<script src="/js/categories.js"></script>
<!-- sweetalert2  -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
</script>

<script th:each="jsLink : ${content.jsList}" th:src="${jsLink}"></script>

<style>
	.active:after {
		content: '' !important;
	}
</style>
</body>

</html>