<div class="profileUser container d-flex justify-content-center">
	<div class="header-profile">
		<div class="header-profile-img">
			<img id="staticIMGB" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="">
		</div>
		<div class="header-profile-title text-xl-center">
			<div class="hello">Xin chào</div>
			<div class="name"></div>
		</div>
		<script>
			
		</script>
		<div>
			<div class="container mt-3 header-profile-op">
				<a href="#" class="nav-link titleH titleHP" data-bs-toggle="collapse" data-bs-target="#demo"><i
						class="far fa-address-card"></i> Tài khoản của tôi</a>
				<div id="demo" class="collapse linkH">
					<ul>
						<li><a href="/account/profile">Hồ sơ</a></li>
						<li><a href="#2">Ngân hàng</a></li>
						<li><a href="/account/">Địa chỉ</a></li>
						<li><a href="/account/doimatkhau">Đổi mật khẩu</a></li>
					</ul>
				</div>
				<a href="/account/order" class="nav-link titleH titleHO"><i class="fas fa-weight-hanging"></i> Đơn đã
					mua</a> <a href="/account/xemdonhang" class="nav-link titleH titleHOD"><i class="fas fa-tasks"></i>
					Kiểm tra đơn hàng</a> <a href="#" class="nav-link titleH">...</a>
			</div>
		</div>
	</div>

	<div class="main-profile">