<div class="profile-user-main">
    
    <div class="profile-user-main-tilte">
        <div>ĐỔI MẬT KHẨU</div>
    </div>
    <div class="profile-user-main-body doimatkhau">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group row form-mk">
                        <label class="col-sm-3 col-form-label doiMK">Mật khẩu hiện tại</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" style="border-radius: 0;">
                        </div>
                        <a class="col-sm-3" href="#">Quên mật khẩu?</a>
                    </div>

                    <div class="form-group row form-mk">
                        <label class="col-sm-3 col-form-label doiMK1">Mật khẩu mới</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" style="border-radius: 0;" id="doimkmoi1">
                        </div>
                    </div>

                    <div class="form-group row form-mk">
                        <label class="col-sm-3 col-form-label doiMK2">Nhập lại mật khẩu mới</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" style="border-radius: 0;" id="doimkmoi2">
                        </div>
                    </div>
                </form>

                <button type="button" class="btn btn-primary btnU" onclick="doiMatKhau()">Xác nhận</button>
            </div>
            
        </div>
    </div>
</div>