
</div>
</div>
<script>
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks the button, open the modal
	btn.onclick = function() {
		modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
</script>

<script>
	var daysInMonth = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ], today = new Date(),
	// default targetDate is christmas
	targetDate = new Date(today.getFullYear(), today.getUTCMonth(), today.getDate());

	setDate(targetDate);	
	setYears(5) // set the next five years in dropdown

	$("#select-month").change(function() {
		var monthIndex = $("#select-month").val();
		setDays(monthIndex);
	});

	function setDate(date) {
		setDays(date.getMonth());
		$("#select-day").val(date.getDate());
		$("#select-month").val(date.getMonth());
		$("#select-year").val(date.getFullYear());
	}

	// make sure the number of days correspond with the selected month
	function setDays(monthIndex) {
		var optionCount = $('#select-day option').length, daysCount = daysInMonth[monthIndex];

		if (optionCount < daysCount) {
			for (var i = optionCount; i < daysCount; i++) {
				$('#select-day')
						.append(
								$("<option></option>").attr("value", i + 1)
										.text(i + 1));
			}
		} else {
			for (var i = daysCount; i < optionCount; i++) {
				var optionItem = '#select-day option[value=' + (i) + ']';
				$(optionItem).remove();
			}
		}
	}

	function setYears(val) {
		var year = today.getFullYear();
		for (var i = 0; i < val; i++) {
			$('#select-year').append(
					$("<option></option>").attr("value", year + i).text(
							year + i));
		}
	}
</script>
<style>
	.cart-cxn{
		margin-bottom: 10px;
		box-shadow: 2px 2px 2px gray;
	}
</style>

