<div class="container my-5">
    <form action="controller" method="get" class="d-md-flex d-sm-block justify-content-between"><input type="hidden"
            name="command" value="select-orders">
        <h1 class="h5 align-self-center col-3">Search Order</h1>
        <div class="btn-group align-self-center ">
            <input type="search" name="searchBy" class="search1">
            <input type="submit" value="Search" class="btn btn-outline-dark ">
        </div>
    </form>
    <div
        class="d-md-flex d-none justify-content-md-between justify-content-sm-center align-content-center border-bottom border-2 my-2 bg-dark text-light p-3 rounded-3">
        <div class="col-2 text-sm-center text-md-start align-self-center">
            <h1 class="h5 fw-bold">Order ID</h1>
        </div>
        <div class="col-2 align-self-center">
            <h1 class="h5 fw-bold">Created</h1>
        </div>
        <div class="col-3 align-self-center">
            <h1 class="h5 fw-bold">Price</h1>
        </div>
        <div class="col-2 align-self-center">
            <h1 class="h5 fw-bold">Trạng thái</h1>
        </div>
        <div class="col-2 align-self-center">
            <h1 class="h5 fw-bold">Show details</h1>
        </div>

    </div>
    <div id="loadOrder">
        
    </div>

</div>