/* breadcrumd */
.cart-detail-title {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

/* CART - DETAIL */
.cart-detail-form {}

/* LEFT */
.cart-detail-left {
  width: 800px;
  background-color: #f3eeeb;
}

.table-cart-detail {}

.cart-left-title {
  font-size: 20px;
  padding: 5px 30px;
  font-weight: 500;
  font-family: arial, sans-serif;
}

.cart-left-form {
  background-color: white;
  margin: 5px 25px;
  padding: 5px 25px;
  margin-bottom: 20px;
}

.cart-left-form table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.cart-left-form table th {
  border-bottom: 1px solid black !important;
  font-weight: bold;
}

.cart-left-form table td,
th {
  text-align: left;
  padding: 8px;
  vertical-align: top
}

.cart-left-form table tr:nth-child(even) {
  background-color: #dddddd;
}

.cart-product-mota {
  font-size: 15px;
  font-weight: bold;
}

.cart-product-mota-name {
  margin-bottom: 10px;
}

.cart-product-mota-id {
  margin-bottom: 29px;
}

.cart-product-mota-btn-remove {
  background-color: white;
  padding: 10px;
  font-weight: 1000;
  font-size: 12px;
  transition: all 0.5s ease;
}

.cart-product-mota-btn-remove:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.cart-product-price {}

.quantity-cart {
  width: 0px !important;
  text-align: center;
}

/* RIGHT */
.cart-detail-right .cart-summary {
  width: 300px;
  background-color: #f3eeeb;
  margin-left: 20px;
}

.cart-summary {
  padding: 10px 20px;
}

.summary-subtotal-main {
  border-bottom: 1px solid black;
}

.summary-subtotal-main div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.summary-subtotal-name,
.summary-ship-name,
.summary-total-name,
.summary-tax-name {
  font-weight: 600 !important;
  letter-spacing: .08em;
  text-transform: uppercase;
  font-style: normal;
  size: 10px !important;
}

.summary-total-main {
  border-bottom: 1px solid black;
}

.summary-total-main div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cart-total {
  padding: 10px 20px;
}

.summary-title {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-weight: 500;
}

.summary-paypal-checkout,
.summary-paypal-paypal {
  height: 35px;
  width: 100%;
  transition: all 0.5s ease;
  background-color: white;
  font-weight: bold;
}

.summary-paypal-main .orSum {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 15px;
}

.summary-paypal-checkout:hover,
.summary-paypal-paypal:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}



.continue-shop {
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: 10px;
  color: black;
  font-weight: bold;
}