/* PRODUCT-FORM */
.product-text{
    margin-top: 45px;
    text-align: center;
    font-family: 'Winter Moments', sans-serif !important;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 40px;
}
.product-form{
    border: 2px solid red;
    width: 100%;
}
.cot-1{
    border: 1px solid blue;
    height: 700px;
}

.cot-2{
    border: 1px solid blueviolet;

}
.select_product{
    margin-left: auto;
    
}

/* list product */

.product-items-list{
    border: 1px solid red;
    width: 250px;
    height: 440px;
    display: flex;
    margin-top: 10px;
}

/* PAGabcIN */
.pagin{
   margin: 10px auto;
   max-width:30%;
}