<div class="container checkout111">
    <div class="primary">
        <!-- Check for empty name of checkout step -->
        <!-- Check for empty name of checkout step -->
        <div class="checkout-progress-indicator">
            <div class="step-1 active">
                <span>1.</span>
                Shipping
            </div><!-- END: step1 -->
            <div class="step-2 inactive">
                <span>2.</span>
                Billing
            </div><!-- END: step2 -->
            <div class="step-3 inactive">
                <span>3.</span>
                Review Order
            </div><!-- END: step3 -->

        </div>
        <form class="form123">
            <fieldset>
                <legend>
                    Shipping Address
                    <div class="login-notice">
                        Already have an account?
                        <a href="#">Log in</a>
                    </div>
                </legend>
                <div class="select-address select-address-shipping d-none">
                    <div class="form-row icon-arrow-down-after">
                        <label for="dwfrm_singleshipping_addressList">
                            Select an Address:
                        </label>
                        <select id="dwfrm_singleshipping_addressList" class="input-select"
                            name="dwfrm_singleshipping_addressList" data-editing-estimate="null">
                            <option class="option-new" value="">
                                Create a New Shipping Address
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row" data-required-text="Please enter a first name.">
                    <label for="">
                        <span>
                            First Name
                        </span>
                    </label>
                    <input type="text" value="" maxlength="17">
                </div>
                <div class="form-row" data-required-text="Please enter a last name.">
                    <label for="">
                        <span>
                            Last Name
                        </span>
                    </label>
                    <input type="text" value="" maxlength="17">
                </div>
                <div class="form-row  " data-required-text="Please enter your address.">
                    <label for="">
                        <span>
                            Address 1
                        </span>
                    </label>
                    <input type="text" value="" maxlength="35" placeholder="Enter a location">
                </div>
                <div class="form-row">
                    <span>Address autocomplete unavailable at this time.</span>
                </div>
                <div class="form-row">
                    <label for="">
                        <span>
                            Address 2
                        </span>
                    </label>
                    <input type="text" value="" maxlength="35">
                </div>
                <div class="form-row" data-required-text="Please select a country.">

                    <label for="">
                        <span>Coutry</span>
                    </label>
                    <select>
                        <option class="select-option" label="Select..." value="">Select...</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
                <div class="form-row" data-required-text="Please select a state.">

                    <label for="">
                        <span>State</span>
                    </label>
                    <select>
                        <option class="select-option" label="Select..." value="">Select...</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
                <div class="form-row" data-required-text="Please enter a city.">
                    <label for="">

                        <span>
                            City
                        </span>
                    </label>
                    <input type="text" value="" maxlength="20">
                </div>
                <div class="form-row" data-required-text="Please enter a valid postal code.">
                    <label for="">
                        <span>
                            Zip Code
                        </span>
                    </label>
                    <input type="text" value="" maxlength="10">
                </div>
                <div class="form-row">
                    <div class="form-row form-indent label-inline">
                        <label for="" class="custom-checkbox" style="background-position: left bottom;">
                            Use this address for Billing
                        </label>
                        <input tabindex="0" aria-checked="true" role="checkbox" class="input-checkbox" type="checkbox"
                            checked="checked" value="true">
                    </div>
                </div>
            </fieldset>

            <div id="shipping-method-list" class="" style="display: block;">


                <fieldset data-numberofshippingmethods="1">


                    <div class="white-glove"><span class="white-glove-alert">To explore expedite options or schedule
                            delivery of a Doorstep item, please contact a Design Shop prior to placing your
                            order.</span></div>


                    <legend>
                        Select Shipping Method
                    </legend>
                    <div class="form-row form-indent label-inline">




                        <input class="input-radio" type="radio"
                            name="dwfrm_singleshipping_shippingAddress_shippingMethodID"
                            id="shipping-method-AllWhiteGloveUS" value="AllWhiteGloveUS" checked="checked">

                        <label for="shipping-method-AllWhiteGloveUS" class="d-flex">

                            White Glove Delivery:




                            <span class="pl-1">$299.00</span>






                            <a class="tooltip">(
                                Details
                                <div class="tooltip-content" data-layout="small tooltip-shipping">





                                    <div class="shipping-method-cost">
                                        <span class="label">Standard Shipping Cost:</span>
                                        <span class="value">$299.00</span>
                                    </div>





                                    <div class="shippingtotal ">
                                        <span class="label">Total:</span>
                                        <span class="value">$299.00</span>
                                    </div>

                                </div>
                                )
                            </a>





                        </label>




                    </div><!-- END: shippingmethod -->

                </fieldset>
            </div>

            <fieldset>
                <div class="form-row form-row-button" id="checkout-loader-container">
                    <button id="dwfrm_singleshipping_shippingAddress_save" class="button-fancy-large" type="submit"
                        name="dwfrm_singleshipping_shippingAddress_save" value="Continue to Billing">
                        <span>Continue to Billing</span>
                    </button>
                    <div class="spinner spinner-tpl d-none">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                        <div class="bounce4"></div>
                    </div>
                </div>
                <input type="hidden" name="dwfrm_singleshipping_securekey" value="1287380102">
            </fieldset>
        </form>
    </div>
    <div id="secondary" class="nav summary">
        <div class="nav">


            <div class="checkout-order-totals">


                <h3 class="title">SUMMARY</h3>
                <table class="order-totals-table">

                    <thead>
                        <tr>
                            <th class="order-totals-item">Item</th>
                            <th class="order-totals-value">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="order-subtotal">
                            <td>Subtotal:</td>
                            <td>$3,298.00</td>
                        </tr>
                        <tr class="order-shipping">
                            <td>

                                <a href="/shipping-fees.html" target="_blank">White Glove Delivery</a>

                            </td>
                            <td>

                                $299.00

                            </td>
                        </tr>
                        <tr class="order-sales-tax">
                            <td>Tax:</td>
                            <td>

                                - -

                            </td>
                        </tr>
                        <tr class="order-total">
                            <td>ORDER TOTAL</td>
                            <td>$3,597.00</td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="help-promo-cart  ">


                <div class="content-asset">
                    <!-- dwMarker="content" dwContentID="bcQdkiaag1QKEaaadh67lJ6P3S" -->
                    <h2>Need Help?</h2>
                    <p><a href="tel:+18665972742">Call us: 866.597.2742</a></p>
                    <p><a href="https://www.serenaandlily.com/shipping-updates.html" target="_blank"
                            rel="noreferrer noopener">Shipping Information</a></p>
                    <p><a href="https://www.serenaandlily.com/returns.html" target="_blank"
                            rel="noreferrer noopener">Return Policy</a></p>
                    <p><a class="js-core-pulp-shipping-info-modal"
                            href="https://www.serenaandlily.com/affirm-pay-over-time.html">Affirm - Shop Now, Pay
                            Later</a></p>
                    <p><a id="privacy-policy-popup" class="js-core-pulp-shipping-info-modal"
                            href="https://www.serenaandlily.com/privacy-policy-popup.html">Privacy Policy</a></p>
                </div> <!-- End content-asset -->



            </div>

        </div>

    </div>
    <div class="checkout-mini-cart">

        <h3 class="section-header">



            Your Order
            <a class="section-header-note" href="/shoppingbag">Edit</a>
        </h3>
    </div>
    <div class="cart-info-dynamic-container">


        <div class="cart-summary-container">
            <div class="cart-container-container">
                <div class="cart-table-container">
                    <div class="shipment-info">
                        <h3 class="delivery-service-level">
                            White Glove Delivery
                        </h3>
                        <div class="delivery-description-holder">
                            <span>Expect to be contacted to schedule delivery 1-2 weeks before 01/14/2023
                                <div class="cart-extra-info-wrapper">
                                    <div class="cart-extra-info-container">
                                        <div class="custom-tooltip-container question-mark-circle-holder">
                                            ?
                                            <div class="custom-tooltip">
                                                Approximate delivery date is an estimate. Actual date will depend on
                                                destination.
                                            </div>
                                        </div>
                                        <a href="https://www.serenaandlily.com/shipping-methods.html#4" target="_blank"
                                            rel="noopener">learn more</a>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="inner-cart-table-container">

                        <table class="item-list cart-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">PRODUCT</th>
                                    <th style="text-align: center;">PRICE</th>
                                    <th style="text-align: center;">QTY</th>
                                    <th style="text-align: right;">TOTALL PRICE</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row d-flex flex-wrap row-cols-auto cart-product-left">
                                            <div class="col"><img
                                                    src="https://www.serenaandlily.com/dw/image/v2/AASD_PRD/on/demandware.static/-/Sites-masterCatalog_SerenaandLily/default/dw5478edb1/hi-res/Rug_Tulum_Rug_8x10_Detail_MV_0244_Crop_SH.jpg?sw=100&sh=125&sm=fit&strip=false"
                                                    alt="" height="125px" width="100px"></div>
                                            <div class="col cart-product-mota">
                                                <div class="cart-product-mota-name">name</div>
                                                <div class="cart-product-mota-id">id-product</div>
                                                <button class="cart-product-mota-btn-remove" onclick="removeCart()"
                                                    type="button">remove</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart-product-price" style="text-align: center;">$1000</td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number"
                                                    data-type="minus" data-field="">
                                                    -
                                                </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity"
                                                class="form-control input-number quantity-cart" value="3" min="1"
                                                max="100">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number"
                                                    data-type="plus" data-field="">
                                                    +
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="text-align: right;">$1000</td>
                                </tr>

                                
                            </tbody>

                        </table>

                        
                    </div>

                    <div class="inner-cart-table-container">

                        <table class="item-list cart-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">PRODUCT</th>
                                    <th style="text-align: center;">PRICE</th>
                                    <th style="text-align: center;">QTY</th>
                                    <th style="text-align: right;">TOTALL PRICE</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row d-flex flex-wrap row-cols-auto cart-product-left">
                                            <div class="col"><img
                                                    src="https://www.serenaandlily.com/dw/image/v2/AASD_PRD/on/demandware.static/-/Sites-masterCatalog_SerenaandLily/default/dw5478edb1/hi-res/Rug_Tulum_Rug_8x10_Detail_MV_0244_Crop_SH.jpg?sw=100&sh=125&sm=fit&strip=false"
                                                    alt="" height="125px" width="100px"></div>
                                            <div class="col cart-product-mota">
                                                <div class="cart-product-mota-name">name</div>
                                                <div class="cart-product-mota-id">id-product</div>
                                                <button class="cart-product-mota-btn-remove" onclick="removeCart()"
                                                    type="button">remove</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart-product-price" style="text-align: center;">$1000</td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number"
                                                    data-type="minus" data-field="">
                                                    -
                                                </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity"
                                                class="form-control input-number quantity-cart" value="3" min="1"
                                                max="100">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number"
                                                    data-type="plus" data-field="">
                                                    +
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="text-align: right;">$1000</td>
                                </tr>

                                
                            </tbody>

                        </table>

                        
                    </div>

                    <div class="inner-cart-table-container">

                        <table class="item-list cart-table">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">PRODUCT</th>
                                    <th style="text-align: center;">PRICE</th>
                                    <th style="text-align: center;">QTY</th>
                                    <th style="text-align: right;">TOTALL PRICE</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row d-flex flex-wrap row-cols-auto cart-product-left">
                                            <div class="col"><img
                                                    src="https://www.serenaandlily.com/dw/image/v2/AASD_PRD/on/demandware.static/-/Sites-masterCatalog_SerenaandLily/default/dw5478edb1/hi-res/Rug_Tulum_Rug_8x10_Detail_MV_0244_Crop_SH.jpg?sw=100&sh=125&sm=fit&strip=false"
                                                    alt="" height="125px" width="100px"></div>
                                            <div class="col cart-product-mota">
                                                <div class="cart-product-mota-name">name</div>
                                                <div class="cart-product-mota-id">id-product</div>
                                                <button class="cart-product-mota-btn-remove" onclick="removeCart()"
                                                    type="button">remove</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart-product-price" style="text-align: center;">$1000</td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-number"
                                                    data-type="minus" data-field="">
                                                    -
                                                </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity"
                                                class="form-control input-number quantity-cart" value="3" min="1"
                                                max="100">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-number"
                                                    data-type="plus" data-field="">
                                                    +
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="text-align: right;">$1000</td>
                                </tr>

                                
                            </tbody>

                        </table>

                        
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>