<!-- START MAIN -->
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Orders</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Payment type</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Basic Form</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Form Elements</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group form-floating-label">
                                        <select class="form-control input-border-bottom"
                                            id="selectFloatingLabel" required>
                                            <option value="">&nbsp;</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <label for="selectFloatingLabel" class="placeholder">Categories</label>
                                    </div>

                                    <div class="form-group form-floating-label">
                                        <input id="inputFloatingLabel" type="text"
                                            class="form-control input-border-bottom" required>
                                        <label for="inputFloatingLabel" class="placeholder">Product code</label>
                                    </div>

                                    <div class="form-group form-floating-label">
                                        <input id="inputFloatingLabel" type="text"
                                            class="form-control input-border-bottom" required>
                                        <label for="inputFloatingLabel" class="placeholder">Product Name</label>
                                    </div>

                                    <div class="form-group form-floating-label">
                                        <input id="inputFloatingLabel" type="number"
                                            class="form-control input-border-bottom" required>
                                        <label for="inputFloatingLabel" class="placeholder">Price</label>
                                    </div>

                                    <div class="form-group form-floating-label">
                                        <input id="inputFloatingLabel" type="number"
                                            class="form-control input-border-bottom" required>
                                        <label for="inputFloatingLabel" class="placeholder">Quantity</label>
                                    </div>

                                    <div class="form-group form-floating-label">
                                        <label for="inputFloatingLabel" class="">Discription</label>
                                        <div id="summernote"></div>
                                        <script>
                                            $('#summernote').summernote({
                                                placeholder: 'Discription',
                                                tabsize: 3,
                                                height: 150
                                            });
                                        </script>
                                    </div>

                                    


                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <div class="form-check">
                                        <label>New</label><br />
                                        <label class="form-radio-label">
                                            <input class="form-radio-input" type="radio" name="optionsRadiosNew"
                                                value="" checked="">
                                            <span class="form-radio-sign">True</span>
                                        </label>
                                        <label class="form-radio-label ml-3">
                                            <input class="form-radio-input" type="radio" name="optionsRadiosNew"
                                                value="">
                                            <span class="form-radio-sign">False</span>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label>Featured</label><br />
                                        <label class="form-radio-label">
                                            <input class="form-radio-input" type="radio"
                                                name="optionsRadiosFeatured" value="" checked="">
                                            <span class="form-radio-sign">True</span>
                                        </label>
                                        <label class="form-radio-label ml-3">
                                            <input class="form-radio-input" type="radio"
                                                name="optionsRadiosFeatured" value="">
                                            <span class="form-radio-sign">False</span>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label>Status</label><br />
                                        <label class="form-radio-label">
                                            <input class="form-radio-input" type="radio"
                                                name="optionsRadiosStatus" value="" checked="">
                                            <span class="form-radio-sign">True</span>
                                        </label>
                                        <label class="form-radio-label ml-3">
                                            <input class="form-radio-input" type="radio"
                                                name="optionsRadiosStatus" value="">
                                            <span class="form-radio-sign">False</span>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label>Discontinued</label><br />
                                        <label class="form-radio-label">
                                            <input class="form-radio-input" type="radio"
                                                name="optionsRadiosDiscontinued" value="" checked="">
                                            <span class="form-radio-sign">True</span>
                                        </label>
                                        <label class="form-radio-label ml-3">
                                            <input class="form-radio-input" type="radio"
                                                name="optionsRadiosDiscontinued" value="">
                                            <span class="form-radio-sign">False</span>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Example file input</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Example file input</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-action label-align-center">
                            <button class="btn btn-success">Submit</button>
                            <button class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN -->